body{
    font-family: 'Poppins', sans-serif;
}
.topHeader{
    font-size: 15px;
}
.topHeader nav a{
    color:#fff !important;
}
.btn-sdanger{
    background-color: #6E80AF;
    min-width: 168px;
    min-height:50px;
    border-radius: 0;
    color: #fff;
    line-height: 2.3;
    
}
.home-layout {
  background-color: #fff;
}
.home-layout .footer{
  background-color: #f3f4f8;
}
.carousel-fade .carousel-item {
    height:100%;
  }
  
  .carousel-fade .carousel-item img {
    height:100vh;
    width:100%;
    max-width:100%;
    background-size:cover;
    background-origin:content-box;
    background-clip:content-box;
    background-position:center;
    color:rgba(0,0,0,0.56);
    filter:brightness(30%);
    right:0;
    left:0;
    resize:both;
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background:none;
    border:2px solid #fff;
    height:60px;
    width:60px;
    line-height:55px;
    opacity:9 !important;
    filter:brightness(100%) !important;
    font-size:40px;
    border-radius:100%;
  }
  
  .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    background:#fff;
    opacity:9;
    color:#000;
  }
  
  .la {
    opacity:99;
    z-index:1;
    position:relative;
  }
  
  .carousel-indicators li {
    background:#000;
    color:#000;
    height:30px;
    width:30px;
    margin:5px !important;
    border-radius:100%;
  }
  
  .carousel-caption {
    top:220px;
  }
  
  @media (min-width: 992px) {
    .carousel-caption {
      top:120px !important;
    }
  }
  
  .carousel-caption h3 {
    font-size:40px;
    text-align:center;
    font-weight:600;
  }
  
  @media (min-width: 992px) {
    .carousel-caption h3 {
      font-size:40px !important;
      text-align:center;
      font-weight:500;
      
      margin: 0px auto;
    }
  }
  
  .carousel-caption p {
    font-size:15px;
    margin-top:20px;
    text-align:center;
  }
  
  @media (min-width: 992px) {
    .carousel-caption p {
      font-size:15px !important;
      margin-top:20px;
      text-align:center; 
      font-weight: 300;
         width: 50%;
      margin: 0px auto;
    }
  }
  
  .carousel-caption .btn {
    border:2px solid #fff;
    border-radius:0;
    line-height: 2.3;
  }
  
  @media (min-width: 300px) {
    .img-fluid.w-100.d-block {
      height:auto;
    }
  }
  
  @media (min-width: 576px) {
    .img-fluid.w-100.d-block {
      height:auto;
    }
  }
  
  @media (min-width: 768px) {
    .img-fluid.w-100.d-block {
      height:auto;
    }
  }
  
  @media (min-width: 992px) {
    .img-fluid.w-100.d-block {
      height:100vh;
    }
  }
  
  @media (min-width: 300px) {
    .carousel-caption {
      top:0;
      font-size:20px;
    }
  }
  
  @media (min-width: 300px) {
    .carousel-caption h3 {
      font-size:20px;
    }
  }
  
  .carousel-caption p {
    font-size:15px;
  }
  
  @media (min-width: 768px) {
    .carousel-caption {
      top:100px;
    }
  }
  
  @media (min-width: 768px) {
    .carousel-caption h3 {
      font-size:40px;
    }
  }
  .testimonials {
    overflow: hidden;
    position: relative;
    
  }
 
  
  .one-slide,
  .testimonial,
  .message {
    border: none !important;
    outline: none !important;
  }
  
  .icon-overlay {
    position: absolute;
    opacity: 0.3;
    right: 10%;
    top: 0;
    height: auto;
    width: 100%;
    max-width: 400px;
  }
  
  .carousel-controls .control {
    position: absolute;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 1;
  }
  
  .prev {
    left: -2.25rem;
  }
  
  .next {
    right: -2.25rem;
  }
  
  @media screen and (max-width: 768px) {
    .testimonials {
      max-height: 700px;
    }
    .icon-overlay {
      height: 300px;
      top: calc(50% - 150px);
    }
    .carousel-controls .control {
      width: 25px;
      height: 25px;
      top: inherit;
    }
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
    .control i {
      font-size: .7rem;
    }
    .testimonials .message {
      font-size: 1rem;
      font-weight: 300;
    }
    .testimonials h2 {
      font-size: 1.5rem;
    }
  }
  .slick-dots {
	display: flex;
	justify-content: center;
	
	margin: 0;
	padding: 1rem 0;
	
    }
    .slick-dots li {
        margin: 0 0.25rem;
        list-style-type: none;
        
    }

    .slick-dots button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;
        
        border: none;
        border-radius: 100%;
        background-color: #39363f;
        
        text-indent: -9999px;
    }

    .slick-dots li.slick-active button {
        background-color: white;
    }
    .testimonial{
        background-color: #605B67;
        padding: 20px
        ;
    }
    .footer-social-Icons {
        --grid-template-columns: repeat(0, auto);
        --grid-column-gap: 5px;
        --grid-side-margin: 5px;
        --grid-row-gap: 0px;
        --grid-bottom-margin: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: calc(var(--grid-side-margin)/2);
        margin-left: calc(var(--grid-side-margin)/2);
    }   
    /* footer info icons */
    .eael-infobox.icon-on-left {
        display: flex;
    }
    h4.title {
        font-size: 14px;
        margin: 5px 0px 0px 0px;
    }
    .infobox-content.eael-icon-only {
        padding-left: 15px;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex:1 1 auto;
      
    }
    .footer-connectings {
        font-weight: 400;
    }
    
    /* Footer 2nd Row */
    /* Widget 1 */
    .footerparaColumn {
        display: flex;
    }
    p.footer.Paragraph {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.8em;
        padding: 0;
        margin: 0;
        text-align: left;
    }
    /* Widget 2 */
    ul#menu-footer-second-widget {
        list-style-type: none;
        padding-left: 0;
        font-size: 14px;
        text-align: left;
    }
    /* footer 3rd row */
    .img-footer-bottom-1 {
        padding: 10px;
    }   
    .image-box-row {
        display: flex;
    }
    /* footer 4rth Row */
    .heading-title.size-default.footer-bottom-size-default {
        font-size: 12px;
    }
    .footer #menu-footer-second-widget li a{
        color:#54505B;
        text-decoration: none;
    }
    .divider-border{
     margin: 0px auto;
      height: 1px;
      border-top: 4px solid #54505B;
      display: block;
      width: 10%;
      }
   
      .carousel-control-next, .carousel-control-prev{
        justify-content: unset;
        width: auto;
      }
      .carousel-control-next img, .carousel-control-prev img{
        max-width: 50px;
      }
      .whytravel{
        color:#54505B;
        font-weight:600;
        font-size: 36px;
      }

      .pagesTitle{
        font-size:17.5px;
        font-weight: 500;
      }
      .whytravelboxes h4{
      color: #54505B;
      font-size:30px; 
      font-weight: 500;
      }
      .whytravelboxes p{
        font-size:15px;
        color:#000;
      }
      .latestNews h4.latestNewssingle{
        color: #54505B;
        font-size:30px; 
        font-weight: 600;
      }
      .latestNews h4{
        color: #54505B;
        font-size:20px; 
        font-weight: 600;
      }
      .testimonials h5{
        font-size: 20px;
        font-weight: 600;
      }
      .contact-us-layout {
        background-color: #f3f4f8;
      }
      .contact-us-layout .leftBlock h2{
        font-family: Poppins;
      font-style: normal;
          font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #6E80AF;

      }
      .contact-us-layout .leftBlock p{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        max-width: 422px;
        
        color: #54505B;

      }
      .contact-us-layout .contact_us_text{
      font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */


color: #54505B;
      }
      .sendMessage{
        color: #54505B;
        font-size:30px; 
        font-weight: 600;
      }
      .contact-us-layout .latestNews{
        background-size:cover;
        min-height:317px;
        
      }
      .contact-us-layout .latestNews .subHeading{
        top: 25%;
    left: calc(100% - 91.6%);
      }
      .contact-us-layout .latestNews .subHeading h1{
        font-size: 40px;
        font-weight:600;
      }
      .contact_us_details img{
        min-width:30px;
        min-height:23.18px;
        color:#70738E;
      }
      .sendMessageForm input[type="text"],textarea{
        border-top:0px;
        border-left:0px;
        border-right: 0px;
        width: 100%;
        border-bottom:2px solid #54505B ;
        margin-bottom: 15px;
        outline: none;
        background-color: transparent;
        height:75px;

      }
      
    
      .sendMessageForm input[type="text"]::placeholder{
      font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;


color: #54505B;
      }
      .sendMessageForm textarea::placeholder{
        font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  
  
  color: #54505B;
        }
      .sendMessageForm  input[type="checkbox"] {
        box-sizing: border-box;
    padding: 0;
        border:3px solid #39414d;
        border-radius: 30px;
        width: 20px!important;
        height: 20px!important;
        background-color: #70738E!important;
        top: 3px;
        appearance: none;
        position: relative;
        outline: none;
    }
    .sendMessageForm input[type=checkbox]:after {
      content: "";
      opacity: 0;
      display: block;
      left: 5px;
      top: 2px;
      position: absolute;
      width: 7px;
      height: 13px;
      border: 3px solid #fff;
      border-top: 0;
      border-left: 0;
      transform: rotate(
  30deg
  );
  }
  
  .sendMessageForm input[type=checkbox]:after {
      width: 5px!important;
      height: 9px!important;
      border-color: #fff!important;
  }
  .sendMessageForm input[type=checkbox]:checked:after {
    opacity: 1;
}
.sports-tours-layout {
  background-color: #f3f4f8;
}
.sports-tours-layout .latestNews{
  background-size:cover;
  min-height:499px;
  background-color: #f3f4f8;
}

      .sports-tours-layout .latestNews .subHeading{
        max-width: 895px;
        top: 25%;
    left: calc(100% - 91.6%);
      }
      .sports-tours-layout .latestNews .subHeading h1{
        font-size: 40px;
        font-weight:600;
      }

       .breadcrumbTitle{
        font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color: #54505B;
      }
      .breadcrumb-item+.breadcrumb-item::before{
        content:">";
        vertical-align: middle;
        font-weight: 600;
      }
      .beforebreadcrumb
      {font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
color: #6E80AF;
      }
      .beforebreadcrumb a{
        color: #6E80AF;
      }
      .sports-tours-layout .collections .card-body{
        cursor: pointer;
      }
      .sports-tours-layout .collections .card-body span:first-child{
        display:inline-block;
        float: left;
      }
      .sports-tours-layout .collections .card-body span{
        display: inline-block;
        vertical-align: middle;
        float: right;
        
      }
      .sports-tours-layout .collections .card-body span:first-child h4{     
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
color: #70738E;
      }
      .sports-tours-layout .sectiontext p{
      font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;

/* #54505B */

color: #54505B;
      }
      .sports-tours-layout .sectiontexttwo h1{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */
        
        
        /* #FFFFFF */
        
        color: #FFFFFF;
        }
        .sports-tours-layout .sectiontexttwo p{
        font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;

/* #FFFFFF */

color: #FFFFFF;
        }
        .sports-tours-layout .sectionthree h4{
        font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */


/* #FFFFFF */

color: #FFFFFF;
        }
        .sports-tours-layout .footer{
          margin-top:-100px;
        }
